html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery img {
    max-width: 150px;
    margin: 0px 10px;
}
